APP_DISPLAY_NAME=GIVE HUB
APP_SLUG=member-hub
IOS_BUNDLE_ID=jp.everycounts.memberhub
ANDROID_PACKAGE=jp.everycounts.memberhub
EXPO_OWNER=shusei_system
EAS_PROJECT_ID=fdcf0a27-45e7-4fb0-b198-4f0eb165e2d9
EXPO_PUBLIC_API_BASE_URL=https://give-hub-shusei.shaw-futamata.chatgpt.site
