APP_DISPLAY_NAME=GIVE HUB
APP_SLUG=member-hub
IOS_BUNDLE_ID=jp.everycounts.memberhub
ANDROID_PACKAGE=jp.everycounts.memberhub
EXPO_OWNER=
EAS_PROJECT_ID=
EXPO_PUBLIC_API_BASE_URL=https://give-hub-shusei.shaw-futamata.chatgpt.site
